.shapeIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: -0.062rem;
  top: 0;
  transform: scale(1.01);
}
.wrapperShape {
  width: 113rem;
  height: 18.625rem;
  position: absolute;
  margin: 0 !important;
  bottom: 95.563rem;
  left: calc(50% - 904px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.insurance {
  color: var(--color);
}
.healthInsurance {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
}
.healthInsuranceTitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-3xl);
}
.stayCoveredWith {
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 192%;
  display: inline-block;
  max-width: 100%;
}
.healthInsuranceDescription {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-sm);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.pickAPlan {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  font-family: var(--font-red-hat-display);
  color: var(--color-white);
  text-align: left;
}
.component2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-21xl);
  background-color: var(--color1);
  border-radius: var(--br-25xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.component2:hover {
  background-color: var(--color-blueviolet-100);
}
.faq {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  display: inline-block;
  font-family: var(--font-red-hat-display);
  color: var(--color-white);
  text-align: left;
  min-width: 2.625rem;
}
.healthFAQButton,
.healthPlanButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.healthFAQButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-21xl);
  background-color: var(--color);
  border-radius: var(--br-25xl);
  justify-content: flex-start;
}
.healthFAQButton:hover {
  background-color: var(--color-dimgray-300);
}
.healthPlanButton {
  justify-content: center;
  gap: var(--gap-xl-5);
  max-width: 100%;
}
.healthInsurancePlan {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-32xl);
  box-sizing: border-box;
}
.frameParent,
.healthInsuranceContentInner,
.healthInsurancePlan {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  justify-content: center;
  gap: var(--gap-173xl);
}
.healthInsuranceContentInner {
  justify-content: flex-end;
  padding: 0 var(--padding-25xl);
  box-sizing: border-box;
}
.healthInsuranceContent {
  width: 83.125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  max-width: 100%;
}
.healthInsuranceContentWrapper {
  width: 100rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-13xl);
  box-sizing: border-box;
  max-width: 100%;
}
.protectionIcon1 {
  height: 15rem;
  width: 15rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.protection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-25xl);
  box-sizing: border-box;
  max-width: 100%;
}
.liabilityCoverage,
.protectionForBodily {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
}
.liabilityCoverage {
  margin: 0;
  font-size: inherit;
  text-transform: uppercase;
  font-family: inherit;
}
.protectionForBodily {
  width: 21.375rem;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-100);
  display: inline-block;
  max-width: 100%;
}
.liability,
.protectionIcon {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  max-width: 100%;
}
.protectionIcon {
  gap: var(--gap-mid);
  flex-shrink: 0;
}
.extrudeGroupIcon {
  margin-left: -57.313rem;
  width: 0;
  height: 0;
  position: relative;
  flex-shrink: 0;
}
.protectionIconParent {
  height: 26.688rem;
  width: 25.313rem;
  box-shadow: 0 0 28px #d4c4f6;
  border-radius: var(--br-17xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-lgi) var(--padding-26xl)
    var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-218xl);
  max-width: 100%;
  z-index: 1;
}
.frameChild {
  height: 18.625rem;
  width: 113rem;
  position: absolute;
  margin: 0 !important;
  top: 3.875rem;
  left: -43.875rem;
  object-fit: contain;
}
.autoIcon1 {
  height: 15rem;
  width: 15rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.autoIcon {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl) 0 var(--padding-31xl);
}
.andCollision,
.comprehensive {
  margin: 0;
}
.comprehensiveAndCollisionContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-weight: 600;
  font-family: inherit;
}
.coverageForTheft {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  font-weight: 600;
  color: var(--color-dimgray-100);
}
.autoIconParent,
.collision,
.vectorParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.collision {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-2xs);
}
.autoIconParent,
.vectorParent {
  max-width: 100%;
}
.autoIconParent {
  flex: 1;
  box-shadow: 0 0 28px #d4c4f6;
  border-radius: var(--br-17xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-smi) var(--padding-12xl) var(--padding-7xl)
    var(--padding-13xl);
  box-sizing: border-box;
  gap: 0.062rem;
  z-index: 1;
}
.vectorParent {
  width: 25.313rem;
  flex-direction: row;
  position: relative;
}
.ideaIcon {
  height: 15rem;
  width: 15rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ideaWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl) 0 var(--padding-31xl);
}
.additionOptions {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.extrudeGroupIcon1 {
  width: 0;
  height: 0;
  position: absolute;
  margin: 0 !important;
  top: 1.188rem;
  left: 11.875rem;
}
.uninsuredMotoristPersonal {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  font-weight: 600;
  color: var(--color-dimgray-100);
}
.frameContainer {
  width: 25.313rem;
  box-shadow: 0 0 28px #d4c4f6;
  border-radius: var(--br-17xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xl) var(--padding-12xl) var(--padding-26xl)
    var(--padding-13xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-2xs-5);
  max-width: 100%;
  z-index: 1;
}
.frameGroup,
.lifeInsuranceContent {
  width: 100rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-red-hat-display);
}
.lifeInsuranceContent {
  width: 100.688rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-51xl);
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color1);
  font-family: var(--font-schibsted-grotesk);
}
.lifeInsuranceContentWrapper {
  width: 119.313rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-15xl);
  box-sizing: border-box;
  max-width: 100%;
}
.insuranceUpdate {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-67xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1325px) {
  .frameParent {
    flex-wrap: wrap;
    gap: var(--gap-77xl);
  }
  .healthInsuranceContentInner {
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
  .frameGroup {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1125px) {
  .insuranceUpdate {
    gap: var(--gap-24xl);
  }
}
@media screen and (max-width: 800px) {
  .healthInsurance {
    font-size: var(--font-size-32xl);
  }
  .healthPlanButton {
    flex-wrap: wrap;
  }
  .frameParent {
    gap: var(--gap-29xl);
  }
  .liabilityCoverage {
    font-size: var(--font-size-7xl);
  }
  .protectionIconParent {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
  .additionOptions,
  .comprehensiveAndCollisionContainer {
    font-size: var(--font-size-7xl);
  }
  .lifeInsuranceContent {
    gap: var(--gap-16xl);
  }
  .insuranceUpdate {
    gap: var(--gap-2xl);
  }
}
@media screen and (max-width: 450px) {
  .healthInsurance {
    font-size: var(--font-size-19xl);
  }
  .faq {
    font-size: var(--font-size-base);
  }
  .frameParent {
    gap: var(--gap-5xl);
  }
  .protection {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .liabilityCoverage {
    font-size: var(--font-size-lgi);
  }
  .protectionForBodily {
    font-size: var(--font-size-base);
  }
  .protectionIconParent {
    gap: var(--gap-99xl);
  }
  .autoIcon {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .comprehensiveAndCollisionContainer {
    font-size: var(--font-size-lgi);
  }
  .coverageForTheft {
    font-size: var(--font-size-base);
  }
  .ideaWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .additionOptions {
    font-size: var(--font-size-lgi);
  }
  .uninsuredMotoristPersonal {
    font-size: var(--font-size-base);
  }
  .frameContainer {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
  .lifeInsuranceContent {
    gap: var(--gap-mid);
  }
}
