.loans {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.loanOptions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.pickAPlan {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  display: inline-block;
  font-family: var(--font-red-hat-display);
  color: var(--color-white);
  text-align: left;
  min-width: 5.688rem;
}
.cardDetails,
.component1,
.loanCards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.component1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-21xl);
  background-color: var(--color1);
  border-radius: var(--br-25xl);
  flex-direction: row;
  white-space: nowrap;
}
.component1:hover,
.component4:hover {
  background-color: var(--color-blueviolet-100);
}
.cardDetails,
.loanCards {
  flex-direction: column;
}
.cardDetails {
  gap: var(--gap-127xl);
  flex-shrink: 0;
}
.loanCards {
  padding: var(--padding-sm) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.loansIcon {
  margin-left: -0.125rem;
  height: 25.713rem;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.veridionBankOffers {
  width: 53.75rem;
  position: absolute;
  margin: 0 !important;
  bottom: 10.65rem;
  left: -21.187rem;
  letter-spacing: 0.01em;
  line-height: 192%;
  display: inline-block;
  z-index: 1;
}
.bankLoanContent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.bankLoans,
.loanTypes {
  justify-content: flex-start;
  box-sizing: border-box;
}
.bankLoans {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  min-width: 51.125rem;
  max-width: 100%;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.loanTypes {
  align-self: stretch;
  flex-wrap: wrap;
  padding: 0 0 3.025rem;
  row-gap: 20px;
  font-size: var(--font-size-77xl);
  color: var(--color);
  font-family: var(--font-schibsted-grotesk);
}
.frameParent,
.loanTypes,
.loanTypes1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.loanTypes1 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-13xl-4) var(--padding-12xs);
  box-sizing: border-box;
}
.highlightIcons {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: -0.062rem;
  top: 0;
  transform: scale(1.01);
}
.wrapperHighlightIcons {
  height: 18.625rem;
  width: 113rem;
  position: absolute;
  margin: 0 !important;
  top: 2.563rem;
  right: -81.187rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.speedIcon1 {
  height: 15rem;
  width: 15rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.speedIcon {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl) 0 var(--padding-31xl);
}
.unsecuredLoans {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.andEasyFunding,
.noCollateralRequired {
  margin: 0;
}
.noCollateralRequiredContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  font-weight: 600;
  color: var(--color-dimgray-100);
}
.highlightDetails {
  flex: 1;
  box-shadow: 0 0 28px #d4c4f6;
  border-radius: var(--br-17xl);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xl) var(--padding-12xl) var(--padding-26xl)
    var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-smi-5);
  max-width: 100%;
  z-index: 1;
}
.loanHighlights {
  width: 25.313rem;
  justify-content: flex-start;
  position: relative;
}
.loanHighlights,
.unsecuredLoan,
.unsecuredLoanContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.unsecuredLoanContent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.unsecuredLoan {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-13xl-4) var(--padding-12xs);
  box-sizing: border-box;
}
.pickAPlan1 {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  font-family: var(--font-red-hat-display);
  color: var(--color-white);
  text-align: left;
}
.component4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-21xl);
  background-color: var(--color1);
  border-radius: var(--br-25xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.faq {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  min-width: 2.625rem;
}
.autoLoanHelpLabel {
  border-radius: var(--br-25xl);
  background-color: var(--color);
  padding: var(--padding-lg) var(--padding-21xl);
}
.autoLoanHelpLabel,
.autoLoanHelpLabelWrapper,
.component4Parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.autoLoanHelpLabelWrapper {
  cursor: pointer;
}
.component4Parent {
  gap: var(--gap-xl);
  max-width: 100%;
}
.autoLoanCTA {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.autoLoanCTA,
.autoLoanContent,
.autoLoanContentWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.autoLoanContent {
  width: 83.125rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl-6);
}
.autoLoanContentWrapper {
  width: 99.375rem;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.flowerIcon {
  height: 15rem;
  width: 15rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.affordableIcon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-24xl);
  box-sizing: border-box;
  max-width: 100%;
}
.affordable,
.competitiveRatesFor {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
}
.affordable {
  margin: 0;
  font-size: inherit;
  text-transform: uppercase;
  font-family: inherit;
}
.competitiveRatesFor {
  align-self: stretch;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-100);
}
.affordableDescription,
.benefitIcons {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.affordableDescription {
  gap: var(--gap-2xs);
}
.benefitIcons {
  gap: 1.1rem;
  flex-shrink: 0;
  max-width: 100%;
}
.extrudeGroupIcon {
  margin-left: -57.313rem;
  width: 0;
  height: 0;
  position: relative;
  flex-shrink: 0;
}
.benefitDetails {
  height: 26.688rem;
  width: 25.313rem;
  box-shadow: 0 0 28px #d4c4f6;
  border-radius: var(--br-17xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.15rem var(--padding-12xl) var(--padding-26xl) var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-218xl);
  max-width: 100%;
  z-index: 1;
}
.benefitDetailsChild {
  height: 18.625rem;
  width: 113rem;
  position: absolute;
  margin: 0 !important;
  top: 3.875rem;
  left: -43.875rem;
  object-fit: contain;
}
.documentIcon {
  height: 15rem;
  width: 15rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.flexibleIcon {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-29xl) 0 var(--padding-35xl);
}
.flexible,
.repayment {
  margin: 0;
}
.flexibleRepayment,
.termsTailoredTo {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
}
.flexibleRepayment {
  margin: 0;
  font-size: inherit;
  text-transform: uppercase;
  font-family: inherit;
}
.termsTailoredTo {
  align-self: stretch;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-100);
}
.flexibleDescription {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.benefitDetails1,
.flexibleIconParent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.flexibleIconParent {
  flex: 1;
  box-shadow: 0 0 28px #d4c4f6;
  border-radius: var(--br-17xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: 1.462rem var(--padding-15xl) var(--padding-19xl) var(--padding-10xl);
  box-sizing: border-box;
  gap: 0.287rem;
  z-index: 1;
}
.benefitDetails1 {
  width: 25.313rem;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}
.extrudeGroupIcon1 {
  height: 0;
  width: 0;
  position: relative;
}
.extrudeGroupWrapper {
  width: 19.75rem;
  height: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.timeIcon {
  height: 15rem;
  width: 15rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.timeWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-32xl);
}
.efficientApprovalProcess,
.quickProcess {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
}
.quickProcess {
  margin: 0;
  font-size: inherit;
  text-transform: uppercase;
  font-family: inherit;
}
.efficientApprovalProcess {
  align-self: stretch;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-100);
}
.benefitDetails2 {
  width: 25.313rem;
  box-shadow: 0 0 28px #d4c4f6;
  border-radius: var(--br-17xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.193rem var(--padding-12xl) var(--padding-26xl) var(--padding-13xl);
  box-sizing: border-box;
  gap: 0.581rem;
  max-width: 100%;
  z-index: 1;
}
.loanBenefits {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.loanBenefits,
.loanTypesParent,
.mainContent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.loanTypesParent {
  width: 100.063rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4.35rem;
}
.mainContent {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-red-hat-display);
}
.headerFinalParent,
.loansUpdate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.headerFinalParent {
  align-self: stretch;
  gap: var(--gap-67xl);
  max-width: 100%;
}
.loansUpdate {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  gap: 7.525rem;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1300px) {
  .frameParent,
  .loanBenefits,
  .unsecuredLoanContent {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1125px) {
  .bankLoans {
    min-width: 100%;
  }
  .headerFinalParent {
    gap: var(--gap-24xl);
  }
  .loansUpdate {
    gap: var(--gap-41xl);
  }
}
@media screen and (max-width: 800px) {
  .loans {
    font-size: var(--font-size-29xl);
  }
  .unsecuredLoans {
    font-size: var(--font-size-7xl);
  }
  .component4Parent {
    flex-wrap: wrap;
  }
  .autoLoanContent {
    gap: var(--gap-base);
  }
  .affordable {
    font-size: var(--font-size-7xl);
  }
  .benefitDetails {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
  .flexibleRepayment,
  .quickProcess {
    font-size: var(--font-size-7xl);
  }
  .loanTypesParent {
    gap: var(--gap-16xl);
  }
  .headerFinalParent {
    gap: var(--gap-2xl);
  }
  .loansUpdate {
    gap: var(--gap-11xl);
  }
}
@media screen and (max-width: 450px) {
  .loans {
    font-size: var(--font-size-10xl);
  }
  .cardDetails {
    gap: var(--gap-54xl);
  }
  .loanTypes {
    padding-bottom: var(--padding-12xl);
    box-sizing: border-box;
  }
  .speedIcon {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .unsecuredLoans {
    font-size: var(--font-size-lgi);
  }
  .noCollateralRequiredContainer {
    font-size: var(--font-size-base);
  }
  .highlightDetails {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
  .faq {
    font-size: var(--font-size-base);
  }
  .affordableIcon {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .affordable {
    font-size: var(--font-size-lgi);
  }
  .competitiveRatesFor {
    font-size: var(--font-size-base);
  }
  .benefitDetails {
    gap: var(--gap-99xl);
  }
  .flexibleIcon {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .flexibleRepayment {
    font-size: var(--font-size-lgi);
  }
  .termsTailoredTo {
    font-size: var(--font-size-base);
  }
  .flexibleIconParent {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
  .timeWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .quickProcess {
    font-size: var(--font-size-lgi);
  }
  .efficientApprovalProcess {
    font-size: var(--font-size-base);
  }
  .benefitDetails2 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
  .loanTypesParent {
    gap: var(--gap-mid);
  }
}
